---
layout: default
---
{% include header.html %}
<div class="important-note">
  <span>30<sup>th</sup> July 2015, Google Campus TLV</span>
  <a href="#tickets" class="ticket-btn" title="Get Tickets">get tickets</a>
</div><!-- .important-note ends -->

<main role="main">
  <div class="container pre-talk">
    <img class="pre-event-banner" src="./images/pre-event-banner.png">
    <div class="name"><h3>“Statistics for Engineers” Workshop</h3></div>
    <p class="discription"> Join Dr. Heinrich Hartmann on this half day workshop </p>
    <a  href="https://www.eventbrite.com/e/statistics-for-engineers-with-heinrich-hartmann-tickets-17368094438"><button class="rsvp">rsvp</button></a>
  </div>
  <div class="container about">
    <h2 id="about">About Statscraft</h2>
    <div class="row">
      <div class="six columns">
        <h3>This conference is all about making monitoring easier, more accessible and more productive</h3>
        <div class="about-topics-image">
          <div class="imageContainer">
            <img src="./images/about-topics.png">
          </div>
        </div>
      </div>
      <div class="six columns">
        <p class="description">Monitoring is important. Without monitoring, there can be no feedback, no planning and no improvement. Monitoring is crucial for detecting problems, optimizing performance, capacity planning, improving user experience, improving business impact... the list goes on an on.
        Yet in many companies, monitoring is an afterthought, neglected and underrated. Companies spend very little time and effort on it, create bad monitoring and then go on to ignore the data they collected completely. We often hear that "monitoring is hard" - and it can be, unless we do something about it.
        </p>
      </div>
    </div>



    <div class="agenda" id="agenda">
      <h2>Agenda</h2>
      <h4 class="language">*this conference is Kosher and all talks are in biblical Hebrew</h4>
      {% for talk in site.data.talks %}
      <div class="{% if talk.hidetime %}hidetime {%endif%}row{% if forloop.index0 == 0 %} first-border{%endif %}">
          {% include {{talk.type}}.html talk=talk %}
      </div><!-- .row ends -->
      {% endfor %}
    </div><!-- .agenda ends -->
  </div>

  <div class="ticket-section" id="tickets">
    <div class="container">
      <h2>Get your ticket!</h2>
      <p>Sorry, there are no tickets left </p>
      <div class="row">
        <a class="ticket-link" href="https://www.eventbrite.com/e/statscraft-monitoring-conference-2015-tickets-16933629943" target="_blank">
        <div class="ticket-alert">
          <h3>Join the waiting list</h3>
          <div class="your-ticket">
            <span>HERE</span>
          </div>
        </div>
        </a>
      </div>
      <div>
        <p>Tell your friends</p>
        <div class="ssk-group ssk-lg  ssk-count">
          <a href="" class="ssk ssk-facebook"><div class="ssk-num">79</div></a>
          <a href="" class="ssk ssk-twitter"><div class="ssk-num">104</div></a>
          <a href="" class="ssk ssk-google-plus"><div class="ssk-num">21</div></a>
        </div>
      </div>
<!--      <div class="share">
        <p>Tell your friends</p>
        <a href="#" title="Twitter"><img src="images/twitter.png" alt="Twiiter"></a>
        <a href="#" title="Facebook"><img src="images/facebook.png" alt="Facebook"></a>
        <a href="#" title="Google"><img src="images/google.png" alt="Google"></a>
      </div>-->
    </div><!-- .container ends -->
  </div><!-- .ticket-section ends -->

  <div id="venue" class="venue text-center">
    <div class="container">
      <h2>Venue</h2>
      <h3>Google Campus TLV</h3>
      <address>Electra Tower, 98 Yigal Alon St. Tel Aviv, 34<sup>th</sup> Floor</address>

      <div id="canvas1" class="map">
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6762.142146902201!2d34.7942164302785!3d32.06732635798904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b9f0f7ed125%3A0xcd0f8fa9a029cdd8!2sElectra+Tower!5e0!3m2!1sen!2sil!4v1430820774639" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div><!-- venue -->
  {% include organizers.html %}
  {% include sponsors.html %}
  {% include contact.html %}

  </div><!-- container -->
</main><!-- main ends -->

{% include footer.html %}
