---
layout: slides 
---
<div class="reveal">
  <div class="slides">
    <section> 
      <h4>Section1</h4>
    </section>
    <section>
      <div class="agenda" id="agenda">
        <h2>Agenda</h2>
        <h4 class="language">*this conference is Kosher and all talks are in biblical Hebrew</h4>
        {% for talk in site.data.talks %}
        <div class="{% if talk.hidetime %}hidetime {%endif%}row{% if forloop.index0 == 0 %} first-border{%endif %}">
          {% include {{talk.type}}.html talk=talk %}
        </div><!-- .row ends -->
        {% endfor %}
      </div><!-- .agenda ends -->
  </div>
    </section>
</div>
