{{define "head"}}
{{partial "jsonld_event" .}}
{{end}}

{{define "body"}}
{{ $current := (index .Site.Data (print "y" .Params.event_year) )}}
{{ partial "header.html" . }}
<div class="important-note">
  {{ if .Params.event_date }}
  <span>Date: {{ .Params.event_date | safeHTML }}</span>
  {{ else if .Params.start_date }}
  <span>Date: {{ dateFormat "January 2, 2006" .Params.start_date }}</span>
  {{ end }}
</div><!-- .important-note ends -->

<main role="main">
  <div class="container about">
    <h2 id="about">About Statscraft</h2>
    <div class="row">
      <div class="six columns">
        <div class="about-topics-image">
          <div class="imageContainer">
            <img src="{{ "images/about-topics.png" | absURL }}">
          </div>
        </div>
      </div>
      <div class="six columns">
        <p class="description description-title"><b>This conference is all about making monitoring easier, more accessible and more productive</b></p>
        <p class="description">
          Monitoring is crucial for detecting problems, optimizing performance, capacity planning, improving user experience and business impact...
          Yet in many companies, monitoring is an afterthought leading companies to miss out on the value of the data they collected. We often hear that "monitoring is hard" - and it can be, unless we do something about it.
        </p>
      </div>
    </div>
  </div>

    {{ if $current.talks.talks }}

    <div class="container agenda" id="agenda">
      <h2>Agenda</h2>
      <h4 class="language">*this conference is Kosher and all talks are in biblical Hebrew</h4>
      {{ range $index, $talk := $current.talks.talks }}
      <div class="{{ if $talk.hidetime }}hidetime {{ end }}row{{ if eq $index 0 }} first-border{{ end }}">
        {{ $path := $talk.type| printf "%s.html" }}
        {{ partial $path $talk }}
      </div><!-- .row ends -->
      {{ end }}
    </div><!-- .agenda ends -->

    {{ end }}

    {{ if $current.sponsors }}
    {{ partial "sponsors.html" $current.sponsors }}
    {{ end }}

    {{ partial "organizers.html" $current.organizers }}

    {{ if (and (not .Params.old) (isset .Params "venue")) }}
      {{ with .Params.venue }}
        <div id="venue" class="venue venue2019 text-center">
          <div class="container">
            <h2>Venue</h2>
            <h3>{{ if .url }}<a href="{{.url}}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</h3>
            <address>{{ .address }}</address>
            <div id="canvas1" class="map">
              <iframe src="{{ .map_url }}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div><!-- venue -->
      {{ end }}
    {{ end }}
    </div><!-- container -->

</div>
</main><!-- main ends -->
{{end}}