
<div id="contact" class="contact text-center">
    <div class="container">
        <h2>Contact</h2>
        <form accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate id="contact-form">

            <div class="inline">
                <div class="form-row">
                    <input id="contact-name" name="name" type="text" placeholder="Name" value="" maxlength="255" tabindex="1" onkeyup=""/>
                </div><!-- form-row -->

                <div class="form-row">
                    <input id="contact-email" name="email" type="email" spellcheck="false" placeholder="Email" value="" maxlength="255" tabindex="2"/>
                </div><!-- form-row -->

                <div class="form-row">
                    <input id="contact-phone" name="phone" type="tel" placeholder="Phone" maxlength="255" value="" tabindex="3"/>
                </div><!-- form-row -->
            </div><!-- inline -->
            <div class="form-row">
                <textarea id="contact-feedback" name="feedback" placeholder="Sponsor us - Ask us - Provide feedback" spellcheck="true" onkeyup="" tabindex="4"></textarea>
                
            </div><!-- form-row -->
            <input id="contact-submit" name="saveForm" class="contact-submit" value="Send" type="submit" tabindex="5"/>
            <h3 class="emailSuccess hidden">Message Sent!</h3>
            <h3 class="emailError hidden">Error! Please verify all of the fields and try again.</h3>
        </form>
    </div>
