
<div id="contact" class="contact text-center">
    <div class="container">
        <h2>Contact</h2>
        <form id="form1" name="form1" class="wufoo contact-form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://statscraft.wufoo.com/forms/z1kivo4c108m4t6/#public" id="contact-form">
 
            <div class="inline">
                <div class="form-row">
                    <input id="contact-name" name="name" type="text" class="form-control" placeholder="Name" value="" maxlength="255" tabindex="1" onkeyup=""/>
                </div><!-- form-row -->

                <div class="form-row">
                    <input id="contact-email" name="email" type="email" spellcheck="false" class="form-control" placeholder="Email" value="" maxlength="255" tabindex="2"/>
                </div><!-- form-row -->

                <div class="form-row">
                    <input id="contact-phone" class="form-control" name="phone" type="tel" placeholder="Phone" maxlength="255" value="" />
                </div><!-- form-row -->
            </div><!-- inline -->
            <div class="form-row">
                <textarea id="contact-feedback" name="feedback" class="form-control" placeholder="Sponsor us - Ask us - Provide feedback" spellcheck="true" onkeyup=""></textarea>
                
            </div><!-- form-row -->
            <input type="hidden" id="idstamp" name="idstamp" value="NaCYiBWbMBd2qPPDNIoqSDQjL3PJ2K/iiFMcsCkOBpY=" />
            <input id="contact-submit" name="saveForm" class="contact-submit" value="Send" type="submit" />
            <h3 class="emailSuccess hidden">Message Sent!</h3>
            <h3 class="emailError hidden">Error! Please verify all of the fields and try again.</h3>
        </form>
    </div>
