<footer role="contentinfo">
  <div class="footer-bottom clearfix">
    <div class="logo">
      <a href="#" title="Statscraft Monitoring Conference"><img src="images/footer-logo.png" alt="Statscraft"></a>
    </div>
    <div class="footer-info">
	    <p>Tel-Aviv July 30<sup>th</sup> </br>2015</p>
    </div>
    <ul class="social">
      <li><a href="https://www.facebook.com/" title="Facebook" class="facebook">Facebook</a></li>
      <li><a href="https://www.twitter.com" title="Twitter" class="twitter">Twitter</a></li>
      <li><a href="#" title="Mail" class="mail">Mail</a></li>
    </ul>
    <br><br><br><br><a class="cocLink" onclick="return popitup('coc.html')" href="coc.html">Code of Conduct</a>
  </div>
</footer><!-- footer ends -->
