<div class="committee" id="committee">
  <h2>Organizing Committee</h2>
  <div class="row container">
    <p class="description">
      This conference is a community effort by and for people who do monitoring daily and care about monitoring. The organizing committee are all volunteers and sponsorships cover the direct costs of the conference.
    </p>
  </div>
  <div class="row organizers">
      {% for organizer in site.data.organizers %}
      <a href="{{organizer.linkedin}}" target="_blank">
      <div class="organizer {{organizer.name}}">
        <div class="img">"../images/organizing-committee.jpg"</div>
        <div class="name">{{organizer.name}}</div>
        <div class="company">{{organizer.company}}</div>
      </div>
      </a>
      {% endfor %}

<!--     <a href="https://il.linkedin.com/in/nir0s" target="_blank">
    <div class="organizer nir">
      <div class="img"></div>
      <div class="name">Nir Cohen</div>
      <div class="company">(Gigaspaces)</div>
    </div>
    </a>

    <a href="https://il.linkedin.com/in/michaelsverdlik" target="_blank">
    <div class="organizer michael">
      <div class="img"></div>
      <div class="name">Michael Sverdiik</div>
      <div class="company">(Gigaspaces)</div>
    </div>
    </a>

    <a href="https://il.linkedin.com/in/shaharke" target="_blank">
    <div class="organizer shahar">
      <div class="img"></div>
      <div class="name">Shahar Kedar</div>
      <div class="company">(BigPanda)</div>
    </div>
    </a>

    <br/>
    <a href="https://il.linkedin.com/in/erikzaadi" target="_blank">
    <div class="organizer erik">
      <div class="img"></div>
      <div class="name">Erik Zaadi</div>
      <div class="company">(BigPanda)</div>
    </div>
    </a>

    <a href="https://il.linkedin.com/in/amitcohe" target="_blank">
    <div class="organizer amit">
      <div class="img"></div>
      <div class="name">Amit Cohen</div>
      <div class="company">(Fewbytes)</div>
    </div>
    </a>

    <a href="https://il.linkedin.com/in/nukemberg" target="_blank">
    <div class="organizer avishai">
      <div class="img"></div>
      <div class="name">Avishai Ish-Shalom</div>
      <div class="company">(Fewbytes)</div>
    </div>
    </a> -->

  </div>
</div>