<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StatsCraft</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slides.css">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- Application-specific meta tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@statscraft">
  <meta name="twitter:title" content="StatsCraft monitoring conference">
  <meta name="twitter:description" content="Israeli monitoring conference, 8th of August, Tel Aviv">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}images/logo-meta.png">
  <meta property="og:title" content="StatsCraft monitoring conference">
  <meta property="og:description" content="Israeli monitoring conference, 8th of August, Tel Aviv">
  <meta property="og:url" content="http://www.statscraft.org.il/">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/logo-meta.png">
  {{/*
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "StatsCraft",
    "startDate": "2016-08-08T08:00",
    "endDate": "2016-08-08T18:30",
    "url" : "http://www.statscraft.org.il",
    "location" : {
      "@type" : "Place",
      "name" : "Dubnov Gallery",
      "address" : "Dubnov St. 8, Tel Aviv, 6473208 Israel"
    },
    "offers": {
      "@type": "Offer",
      "url": "https://www.eventbrite.com/e/statscraft-monitoring-conference-2016-tickets-26404502578"
    }
  }
  </script>
  */}}
  <base href="{{ .Site.BaseURL }}">
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1198986813464953');
  fbq('track', "PageView");
  fbq('track', 'Lead');</script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1198986813464953&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/reveal.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body class="y{{ .Site.Params.current }}{{ if .Params.padding }} withPadding{{ end }}"><link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
<div class="reveal">
    <div class="slides">
        <section>
            <div class="agenda" id="agenda">
                {{ range $index, $talk := .Site.Data.y2016.talks.talks }}
    {{ if lt $index 22 }}
                <div class="row slide-agenda-container" data-talk-end="{{ index $talk "end" }}" data-talk-start="{{ index $talk "start" }}">
        <span class="slide-talk-time">{{ $talk.start }} - {{ $talk.end }}</span>
                        <span class="slide-talk-title">{{ $talk.name }}</span>
                    </div><!-- .row ends -->
    {{ else }}
    {{ if eq $index 23}}
        &nbsp;|&nbsp;{{ $talk.name }}</span>
    {{ else }}
                <div class="row slide-agenda-container" data-talk-end="{{ index $talk "end" }}" data-talk-start="{{ index $talk "start" }}">

        <span class="slide-talk-time">{{ $talk.start }} - {{ $talk.end }}</span>
        <span>Workshops: {{ $talk.name }}
    {{ end }}
    {{ end }}
    {{ end }}
            </div><!-- .agenda ends -->
        </section>
        <section>
            <div class="sponsors" id="sponsors">
              <ul>
                {{ range $sponsor := sort .Site.Data.y2016.sponsors.sponsors "name" }}
                {{ $lowername := $sponsor.name | lower }}
                <li class="{{ $lowername }}"><a href={{ $sponsor.url }} target="_blank"><img src="{{ .Site.BaseURL }}images/sponsors-large-{{ replace $lowername " " "" }}.png" alt="{{ $sponsor.alt }}"></a></li>
                {{ end }}
              </ul>

            </div>
        </section>
        <section>
                    <a class="twitter-timeline"  href="https://twitter.com/hashtag/statscraft" data-widget-id="623418293043355648" data-chrome="nofooter noborders noscrollbar transparent" width="520" height="480">#statscraft Tweets</a>
            </section>
            <section>
                <div class="slide-logo">
                    <img src="{{ .Site.BaseURL }}images/big-a55-logo.png" />
                </div>
            </section>
    </div>
</div>
{{ .Content }}
<script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/js/reveal.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ .Site.BaseURL }}js/jquery-1.11.2.min.js"></script>
<script src="{{ .Site.BaseURL }}js/modernizr-2.8.3.min.js"></script>
<script>
Reveal.initialize({
    embedded: false,
    keyboard: true,
    viewDistance: 1,
    controls: false,
    // Vertical centering of slides
    center: false,
    width: "90%",
    height: "100%",
    // Factor of the display size that should remain empty around the content
    margin: 0.1,
    // Loop the presentation
    loop: true,
    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    autoSlide: 1000 * 30,
    // Stop auto-sliding after user input
    autoSlideStoppable: false,
    // Transition style
    transition: 'fade', // none/fade/slide/convex/concave/zoom
    // Transition speed
    transitionSpeed: 'fast', // default/fast/slow
    minScale: 1,
    maxScale: 1
});
</script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <script src="{{ .Site.BaseURL }}js/slide.js"></script>
</body>
</html>
