<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/social-share-kit.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="js/jquery-1.11.2.min.js"></script> 
<script src="js/modernizr-2.8.3.min.js"></script>
<script src="js/menu.js"></script> 
<script src="js/Eventbrite.jquery.js"></script>
<script src="js/main.js"></script>
<script src="js/social-share-kit.js"></script>
<script>
  $('.toggle').click(function(){
    $(this).parent().children('.comment-box-wrap').slideToggle('slow');
    $(this).toggleClass('active');
    return false
  });
  $('.toggle + h1').click(function(){
    $(this).parent().children('.toggle').toggleClass('active');
    $(this).parent().children('.comment-box-wrap').slideToggle('slow');
    return false
  });
  SocialShareKit.init();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.Params.gaTrackingID }}', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
