<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StatsCraft</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="favicon.png">
  
  <!-- Application-specific meta tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@statscraft">
  <meta name="twitter:title" content="StatsCraft monitoring conference">
  <meta name="twitter:description" content="First Israeli monitoring conference, 30th of July 2015, Tel Aviv">
  <meta name="twitter:image" content="http://www.statscraft.org.il/images/logo-meta.png">
  <meta property="og:title" content="StatsCraft monitoring conference">
  <meta property="og:description" content="First Israeli monitoring conference, 30th of July 2015, Tel Aviv">
  <meta property="og:url" content="http://www.statscraft.org.il/">
  <meta property="og:image" content="http://www.statscraft.org.il/images/logo-meta.png">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "StatsCraft",
    "startDate": "2015-07-30T09:00",
    "endDate": "2015-07-30T18:30",
    "url" : "http://www.statscraft.org.il",
    "location" : {
      "@type" : "Place",
      "name" : "Google Campus TLV (Electra Tower, 34th Floor)",
      "address" : "98 Yigal Alon St. Tel Aviv, 6789141 Israel"
    },
    "offers": {
      "@type": "Offer",
      "url": "https://www.eventbrite.com/e/statscraft-monitoring-conference-2015-tickets-16933629943"
    }
  }
  </script>
</head>
<body {{ if .Params.padding }} class="withPadding" {{ end }}>
