<footer role="contentinfo">
  <div class="footer-bottom clearfix">
    <div class="logo">
      <a href="#" title="Statscraft Monitoring Conference"><img src="{{ "images/footer-logo.png" | absURL }}" alt="Statscraft"></a>
    </div>
    <div class="footer-info">
        {{ if isset .Params "old" }}
	    <p>Tel-Aviv {{ safeHTML .Params.event_date }} </br>{{ .Params.event_year }} </p>
        {{ else }}
	    <p>Tel-Aviv May </br>2019</p>
        {{ end }}
    </div>
    <ul class="social">
      <li><a href="https://www.facebook.com/statscraft.il" title="Facebook" class="facebook" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/statscraft" title="Twitter" class="twitter" target="_blank">Twitter</a></li>
      <li><a href="mailto:info@statscraft.org.il" title="Mail" class="mail" target="_blank">Mail</a></li>
    </ul>
    <br><br><br><br><a class="cocLink" onclick="return popitup('{{ "coc" | absURL }}')" href="{{ "coc" | absURL }}">Code of Conduct</a>
  </div>
</footer><!-- footer ends -->
