{{ $baseUrl := .Site.BaseURL }}
<header>
  <div class="top-head row">
    <div class="logo">
      <a href="#" title="Statscraft Monitoring Conference"><img src="{{ $baseUrl }}images/logo.png" alt="StatsCraft"></a>
    </div>
    <div class="menu-wrap menu-icons">
      <a href="#" title="Menu" id="btn-menu" class="btn-menu toggle-switch toggle-switch-ht" data-icon-name="hamburgerCross"><span>Toggle menu</span></a>
    </div>
    <div id="menu" class="menu">
      <nav>
        <ul>
          <li> <a href="#about">About</a> </li>
          {{/*
          <li> <a href="#agenda">Agenda</a> </li>
          <li> <a href="#venue">Venue</a> </li>
          <li> <a href="#committee">Organizers</a> </li>
          <li> <a href="#sponsors">Sponsors</a> </li>
          <li> <a href="#contact">Contact</a> </li>
          */}}
          <li> <a href="#cfp">Call For Papers</a> </li>

        </ul>
      </nav>
    </div><!-- menu -->
  </div><!-- .top-head ends -->
  <div class="banner">
    <div class="container">
      <h1>Monitoring conference for Ops, developers, PMs and everyone else</h1>
      <p><a href="https://twitter.com/statscraft" style="color:white;text-decoration:none" target="_blank">@statscraft</a></p>
    </div>
  </div><!-- .banner ends -->
</header><!-- header ends -->
