<div class="three columns">
    <span class="time entry">{{ .start }} - {{ .end }}</span>
    <span class="item entry {{ .type }}">{{.type | title }}</span>
</div>
<div class="nine columns">
    <a href="#" class="toggle ">toggle</a>
    <h1>{{ .name }}</h1>
    <span class="author">{{ .speaker.name }}</span>
    <div class="comment-box-wrap" style="display:none;">
        <div class="comment-box row">
            {{ partial "speaker.html" .speaker }}
        </div>
        {{ if .summary }}
        <h3>Summary</h3>
        <p class="discription">{{ .summary | safeHTML}}</p>
        {{ end }}
        {{ if .link }}
        <h4><a href="{{.link}}" target="_blank">Slides</a></h4>
        {{ end }}
        {{ if .video }}
        <h4><a href="{{.video}}" target="_blank">YouTube Video</a></h4>
        {{ end }}
    </div>
</div>

