<div class="committee" id="committee">
  <h2>Organizing Committee</h2>
  <div class="row container">
    <p class="description">
      This conference is a community effort by and for people who do monitoring daily and care about monitoring. The organizing committee are all volunteers and sponsorships cover the direct costs of the conference.
    </p>
  </div>
  <div class="row organizers">
      {{ range .organizers }}
      <a href="{{.linkedin}}" target="_blank">
      <div class="organizer {{.id}}">
        <div class="img"><img class="organizer" src="{{default (print "images/" .id ".png") .image_url}}" alt=""></div>
        <div class="name">{{.name}}</div>
        <div class="company">{{.company}}</div>
      </div>
      </a>
      {{ end }}

  </div>
</div>
