<div class="three columns">
    {{ if .hidetime }}
    {{ else }}
    <span class="time entry">{{ .start }} - {{ .end }}</span>
    <span class="item entry {{ .type }}">{{.type | title }}</span>
    {{ end }}
</div>
<div class="nine columns collapse-box">
    <h1>{{ .name }}</h1>
    <span class="author">{{ .speaker.name }}</span>

    <input type="checkbox" id="workshop-{{.name | md5}}">
    <label for="workshop-{{.name | md5}}" class="collapse-box-label"></label>
    <div class="comment-box-wrap collapse-box-content collapse-box-collapsed" >
        <div class="comment-box row">
                {{ partial "speaker.html" .speaker }}
        </div>
        <h3>Summary</h3>
        <p class="description">{{ .summary | safeHTML }}</p>
        {{ if .link }}
        <h4><a href="{{.link}}" target="_blank">Slides</a></h4>
        {{ end }}
        {{ if .video }}
        <h4><a href="{{.video}}" target="_blank">YouTube Video</a></h4>
        {{ end }}
    </div>
</div>

