{{ partial "bodystart.html" . }}
{{ partial "header.html" . }}
<div class="important-note">
    <span><b>End of July</b> 2016, Venue <b>TBD</b></span>
</div><!-- .important-note ends -->
<main role="main">
<div class="container about">
    <h2 id="about">About Statscraft</h2>
    <div class="row">
        <div class="six columns">
            <h3>This conference was all about making monitoring easier, more accessible and more productive</h3>
            <div class="about-topics-image">
                <div class="imageContainer">
                    <img src="{{ .Site.BaseURL }}images/about-topics.png">
                </div>
            </div>
        </div>
        <div class="six columns">
            <p class="description">Monitoring is important. Without monitoring, there can be no feedback, no planning and no improvement. Monitoring is crucial for detecting problems, optimizing performance, capacity planning, improving user experience, improving business impact... the list goes on an on.
            Yet in many companies, monitoring is an afterthought, neglected and underrated. Companies spend very little time and effort on it, create bad monitoring and then go on to ignore the data they collected completely. We often hear that "monitoring is hard" - and it can be, unless we do something about it.
            </p>
        </div>
    </div>
</div><!-- container -->
<div class="container cfp">
    <h2 id="cfp">Call For Papers!</h2>
    <h3>Fill in <a href="{{ .Site.Data.y2016.cfp.cfp_google_form_url }}">this form</a> with your awesome proposal!</h3>
</div>
{{/*
<div class="container cfsponsors">
    <h2 id="cfsponsors">Call For Sponsors!</h2>
    <h3>Fill in <a href="{{ .Site.Data.y2016.cfp.sponsor_google_form_url }}">this form</a> with your awesome proposal!</h3>
</div>
 */}}

<div class="container previous-events">
  <h2 id="previous">Previous Events</h2>
  <h3><a href="{{ .Site.BaseURL }}2015/">2015</a></h3>
</div>


</main><!-- main ends -->

{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}
