{{ $current := index .Site.Data (print "y" .Site.Params.current) }}
{{ $current_page := .Site.GetPage (print "/event/" .Site.Params.current)}}
{{ partial "bodystart.html" . }}
{{ partial "header.html" $current_page }}
{{ if $current_page.Params.conf_text }}
<div class="important-note">
  {{ if .Params.event_date }}
  <span>Date: {{ $current_page.Params.event_date | safeHTML }}</span>
  {{ else if $current_page.Params.start_date }}
  <span>Date: {{ $date := dateFormat "January 2nd 2006" $current_page.Params.start_date }}</span>
  {{ end }}
  
  {{ $current_page.conf_text }}
</div><!-- .important-note ends -->
{{end}}

<main role="main">
  {{ if $current_page.Params.cfp_url }}
  <div class="container cfp">
    <h2 id="cfp">Call For Papers!</h2>
      <h3>CFP is open! {{ $current_page.Params.cfp_text }}<br><a href="{{ $current_page.Params.cfp_url }}">Submit your proposal!</a></h3>
  </div>
  {{ end }}
  <div class="container about">
    <h2 id="about">About Statscraft</h2>
    <div class="row">
      <div class="six columns">
        <div class="about-topics-image">
          <div class="imageContainer">
            <img src="{{ "images/about-topics.png" | absURL }}">
          </div>
        </div>
      </div>
      <div class="six columns">

        <p class="description description-title"><b>This conference is all about making monitoring easier, more accessible and more productive</b></p>
        <p class="description">
          Monitoring is crucial for detecting problems, optimizing performance, capacity planning, improving user experience and business impact...
          Yet in many companies, monitoring is an afterthought leading companies to miss out on the value of the data they collected. We often hear that "monitoring is hard" - and it can be, unless we do something about it.
        </p>
      </div>
    </div>
  </div>


    {{ if $current_page.Params.tickets_url }}

    <div class="ticket-section" id="tickets">
        <div class="container">
            <h2>Get your ticket!</h2>
            <p class="description">So you'd like to be a part of Statscraft? <span>We’d love to see you there!</span></p>
            <div class="row">
                <a href="{{ $current_page.Params.tickets_url}}" target="_blank">
                    <div class="ticket-alert">
                        <div>&nbsp;</div>
                        <div class="your-ticket">
                            <span>Get Yours</span>
                        </div>
                    </div>
                </a>
                <div>
                </div><!-- .container ends -->
            </div><!-- .ticket-section ends -->
        </div>
      </div>
    {{ end }}

    {{ if $current.talks.talks }}

    <div class="container agenda" id="agenda">
      <h2>Agenda</h2>
      <h4 class="language">*this conference is Kosher and all talks are in biblical Hebrew</h4>
      {{ range $index, $talk := $current.talks.talks }}
      <div class="{{ if $talk.hidetime }}hidetime {{ end }}row{{ if eq $index 0 }} first-border{{ end }}">
        {{ $path := $talk.type| printf "%s.html" }}
        {{ partial $path $talk }}
      </div><!-- .row ends -->
      {{ end }}
    </div><!-- .agenda ends -->

    {{ end }}

    {{ if $current.sponsors }}
    {{ partial "sponsors.html" $current.sponsors }}
    {{ end }}

    {{ partial "organizers.html" $current.organizers }}

    {{ if (isset $current_page.Params "venue") }}
      {{ with $current_page.Params.venue }}
        <div id="venue" class="venue venue2019 text-center">
          <div class="container">
            <h2>Venue</h2>
            <h3>{{ if .url }}<a href="{{.url}}">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</h3>
            <address>{{ .address }}</address>
            <div id="canvas1" class="map">
              <iframe src="{{ .map_url }}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div><!-- venue -->
      {{ end }}
    {{ end }}

    {{ partial "contact.html" . }}
    </div><!-- container -->

  <div class="container previous-events">
    <h2 id="previous">Previous Events</h2>
    {{ range where (where .Site.Pages "Section" "event") "Params.old" true }}
    <h3><a href="{{ .Permalink }}">{{ .Params.event_year }}</a></h3>
    {{ end }}
  </div>
</div>
</main><!-- main ends -->

{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}
